.project {
    padding: 20px;
    margin: 20px;
    background-color: #ececec;
    box-shadow: 0px 0px 5px 1px #7b7b7b;
    transition: 0.5s margin-left;
    &.project--displayed {
        margin-left: 20px;
    }
    &.project--hidden-to-left {
        margin-left: calc(20px - 100vw);
    }
    &.project--hidden-to-right {
        margin-left: 20px;
    }
    &.project--touch-move {
        transition: none;
    }
    img {
        max-width: calc(100vw - 80px);
    }
}

.projects {
    display: inline-flex;
    overflow-x: hidden;
    max-width: 100%;
}

.project-navigation {
    position: absolute;
}