.project {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ececec;
    box-shadow: 0px 0px 5px 1px #bbb;
    transition: 0.5s margin-left;
    min-width: calc(100vw - 80px);
    // &.project--displayed {
    //     margin-left: 20px;
    // }
    // &.project--hidden-to-left {
    //     margin-left: calc(20px - 100vw);
    // }
    // &.project--hidden-to-right {
    //     margin-left: 20px;
    // }
    // &.project--touch-move {
    //     transition: none;
    // }
    ul {
        padding-left: 0;
    }
}

.projects {
    // display: inline-flex;
    // overflow-x: hidden;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.project-navigation {
    position: absolute;
}

.bigger-width {
    .project {
        display: inline-flex;
        justify-content: space-between;
        .text-center {
            flex-basis: 60%;
        }
    }
}