.project {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ececec;
    box-shadow: 0px 0px 5px 1px #bbb;
    min-width: calc(100vw - 80px);
    ul {
        padding-left: 0;
    }
    li:not(:last-child) {
        // border-bottom: 1px dashed #d2d2d2;
        margin-bottom: 10px;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-navigation {
    position: absolute;
}

.no-flexbox {
    .projects {
        display: initial;
        &:after {
            clear: both;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 769px) {
    .project {
        display: inline-flex;
        justify-content: space-between;
        .text-center {
            flex-basis: 60%;
        }
        .description {
            flex-basis: 30%;
            margin-left: 5%;
        }
    }
}

@media screen and (min-width: 770px) {
    .project {
        flex-basis: calc(50% - 50px);
        min-width: initial;
    }
}

@media screen and (min-width: 940px) {
    .project {
        flex-basis: calc(100%/3 - 50px);
    }
    .no-flexbox {
       .project {
            float: left;
            max-width: 27%;
            margin-right: 3%;
        }
        .project:nth-of-type(3n) {
            margin-right: 0;
        }
    }
}