.banner-contact {
    background-color: #ececec;
    justify-content: space-around;
    color: gray;
    &.banner--hidden {
        opacity: 0;
    }
}

.banner-contact__close-button {
    line-height: 0.75;
    color: gray;
}