<section class="banner closed banner-contact text-center banner--hidden">
    <div class="text-center">
        <img class="banner-contact__logo-gray" src="../header/images/logo-gray.svg" alt="Gray logo VCN">
    </div>
    <a class="text-uppercase banner-contact__info-link" href="tel:+359 888 37 73 37">+359 888 37 73 37</a>
    <a class="text-uppercase banner-contact__info-link" href="mailto:mail@mail.com">mail@mail.com</a>
    <button type="button" class="button-circle banner-contact__close-button"><span>&#215;</span></button>
</section>