@import '../../utils/variables';
.no-flexbox {
    .banner-contact__info-link {
        display: block;
        margin: 10vh 0;
    }
}

#map {
    width: 100%;
    height: 100vh;
    background-color: grey;
}
