<header>
    <div class="hamburger">
        <span class="hamburger__stick"></span>
        <span class="hamburger__stick"></span>
        <span class="hamburger__stick"></span>
    </div>
    <nav role="main" class="main-nav">
        <ul data-main-navigation-links>
            <li><a href="about" data-navigo>{{links.firstLink}}</a></li>
            <li><a href="projects" data-navigo>{{links.secondLink}}</a></li>
            <li><a href="services" data-navigo>{{links.thirdLink}}</a></li>
            <li><button class="text-left contact-toggle" type="button">{{links.fourthLink}}</button></li>
        </ul>
        <div class="langChange">
            <button data-language="bulgarian"><span><img src="images/bg.png" alt="Bulgaria flag - small"></span></button>
            <button data-language="english"><span><img src="images/gb.png" alt="Great Britain flag - small"></span></button>
        </div>
    </nav>
    <img src="images/logo-gray.svg" class="logo-gray" alt="VCN logo gray">
    <span class="header__logo-aligner"></span>
</header>