@import '../../utils/variables';

body {
    &.menu--open {
        overflow-x: hidden;
        .main-nav {
            transform: translate(0);
        }
        .hamburger {
            .hamburger__stick:nth-child(2) {
                opacity: 0;
            }
            .hamburger__stick:nth-child(1) {
                transform: rotate(45deg) translate(7px, 9px);
            }
            .hamburger__stick:nth-child(3) {
                transform: rotate(135deg) translate(-6px, 8px);
            }
        }
        .js-content {
            // overflow-x: hidden;
            transform: translate(80vw);
        }
        &.bigger-width {
            .js-content {
                transform: translate(60vw);
            }
            .main-nav {
                width: 60vw;
            }
        }
    }
}

$hamburger-stick-width: 35px;

.lang-change-buttons {
    min-width: $hamburger-stick-width;
    button {
        border: none;
        background: $color-light-gray;
        padding: 0;
        color: $color-gray;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
}

.hamburger__stick {
    transition: 0.3s opacity, 0.3s transform;
    width: $hamburger-stick-width;
    display: block;
    height: 3px;
    margin: 0 auto;
    background: $color-gray;
    will-change: transform, opacity;
}

.js-content {
    transition: 0.3s transform;
    will-change: transform;
}

.main-nav {
    position: absolute;
    transform: translate(-100vw);
    will-change: transform;
    transition: 0.3s transform;
    background: $color-lightest-gray;
    margin-top: -1px;
    width: 80vw;
    border-right: $common-border;
    border-bottom: $common-border;
    ul {
        padding-right: 10px;
    }
    button {
        border: none;
        background: none;
        width: 100%;
    }
    a, button {
        padding: 15px 0;
        font-size: 16px;
        display: block;
        border-top: $common-border;
        color: $color-gray;
        text-decoration: none;
        font-weight: bold;
    }
}

.logo-gray {
    height: 25px;
}

header {
    background: $color-lightest-gray;
    border-bottom: $common-border;
    padding: 20px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation {
    margin: 0;
    padding-left: 0;
    min-width: 240px;
    li {
        display: inline;
        margin-right: 20px;
    }
    a {
        color: $color-gray;
        font-weight: bold;
    }
}

@media screen and (min-width: 770px) {
    .lang-change-buttons, .header__navigation {
        min-width: 325px;
    }
    .lang-change-buttons {
        text-align: right;
    }
    .no-flexbox {
        .logo-gray {
            float: left;
            margin-right: 50px;
        }
        .header__navigation {
            vertical-align: middle;
        }
    }
}