$common-border: 1px solid #d2d2d2;

body {
    &.menu--open {
        .main-nav {
            left: 0;
        }
        .hamburger {
            .hamburger__stick:nth-child(2) {
                opacity: 0;
                
            }
            .hamburger__stick:nth-child(1) {
                transform: rotate(45deg) translate(7px, 9px);
            }
            .hamburger__stick:nth-child(3) {
                transform: rotate(135deg) translate(-6px, 8px);
            }
        }
        .js-content {
            margin-left: 80vw;
        }
        &.bigger-width {
            .js-content {
                margin-left: 60vw;
            }
            .main-nav {
                width: 60vw;
            }
        }
    }
}

$hamburger-stick-width: 35px;

.header__logo-aligner {
    width: $hamburger-stick-width;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger__stick {
    transition: 0.3s opacity, 0.3s transform;
    width: $hamburger-stick-width;
    display: block;
    height: 3px;
    margin: 0 auto;
    background: gray;
}

.js-content {
    transition: 0.3s margin-left;
}

.main-nav {
    position: absolute;
    left: -100vw;
    transition: 0.3s left;
    background: #ececec;
    margin-top: 40px;
    width: 80vw;
    border-right: $common-border;
    border-bottom: $common-border;
    ul {
        padding-right: 10px;
    }
    button {
        border: none;
        background: none;
        width: 100%;
    }
    a, button {
        padding: 15px 0;
        font-size: 16px;
        display: block;
        border-top: $common-border;
        color: gray;
        text-decoration: none;
        font-weight: bold;
    }
}

.langChange {
    display: flex;
    justify-content: space-around;
    button {
        width: 40%;
        border: none;
        background: none;
        height: 40px;
        border-top: $common-border;
    }
}

.logo-gray {
    height: 25px;
    align-self: center;
}

header {
    display: flex;
    justify-content: space-between;
    background: #ececec;
    padding: 15px 20px;
    border-bottom: $common-border;
}