body {
    font-family: 'Roboto', sans-serif;
    transition: 0.5s opacity;
    &.modal--open {
        overflow-y: hidden;
    }
    &.loading-content {
        opacity: 0;
    }
    color: #3a3a3a;
}

section:not(.banner) {
    padding: 20px;
}

.banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: margin;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 0;
    width: 100vw;
}

.hidden {
    display: none;
}

.img-responsive {
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 20px;
}

.closed {
    margin-top: -100vh;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

h1, h2 {
    font-family: 'Titillium Web', sans-serif;
}

h2 {
    color: white;
}

.text-uppercase {
    text-transform: uppercase;
}

button {
    cursor: pointer;
    outline: none;
}

.button-circle {
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 5vh;
    span {
        font-size: 71px;
    }
    
}

@keyframes animateArrowBefore {
    69% {
        opacity: 0;
        margin-left: -20px;
    }
    70% {
        opacity: 0.5;
        margin-left: -20px;
    }
    100% {
        opacity: 0;
        margin-left: 0;
    }
}