body {
    font-family: 'Roboto', sans-serif;
    &.modal--open {
        overflow-y: hidden;
    }
}

.hidden {
    display: none;
}

.img-responsive {
    max-width: 100%;
}
ul {
    list-style: none;
    padding-left: 10px;
}

.closed {
    margin-top: -100vh;
}

.text-center {
    text-align: center;
}
h2 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.text-uppercase {
    text-transform: uppercase;
}

button {
    cursor: pointer;
    outline: none;
}

script {
    display: initial;
}

.button-circle {
    background: none;
    border: none;
    transform: rotate(90deg);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(38, 67, 155, 0.2);
    margin-top: 5vh;
    span {
        color: white;
        font-size: 71px;
        line-height: 0.5;
        &:before {
            content: "\203A";
            animation-name: animateArrowBefore;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            position: absolute;
            opacity: 0;
        }
    }
}

@keyframes animateArrowBefore {
    69% {
        opacity: 0;
        margin-left: -20px;
    }
    70% {
        opacity: 0.5;
        margin-left: -20px;
    }
    100% {
        opacity: 0;
        margin-left: 0;
    }
}

.main-nav {
    position: absolute;
    left: -100vw;
    transition: 0.5s left;
}

header {
    height: 50px;
    background: #ececec;
}

.hamburger {
    width: 50px;
    height: 45px;
    outline: 1px solid red;
    padding-top: 5px;
    &.hamburger--active {
        .hamburger__stick:nth-child(2) {
            opacity: 0;
            
        }
        .hamburger__stick:nth-child(1) {
            transform: rotate(45deg) translate(10px, 10px);
        }
        .hamburger__stick:nth-child(3) {
            transform: rotate(135deg);
        }
    }
}

.hamburger__stick {
    transition: 0.2s opacity, 0.2s transform;
    border-bottom: 3px solid gray;
    width: 30px;
    height: 7px;
    display: block;
    margin: 0 auto;
}