@import './utils/variables';

.hidden-s {
    display: none;
}

@media screen and (min-width: 770px) {
    .js-content.container {
        padding-bottom: 70px;
    }
    .hidden-s {
        display: initial;
    }
    .visible-s {
        display: none;
    }
    .container {
        .hidden-s {
            display: initial;
        }
        .visible-s {
            display: none;
        }
    }
}

html {
    overflow-x: hidden;
    touch-action: manipulation;
}

body {
    font-family: 'Roboto', sans-serif;
    transition: 0.5s opacity;
    &.modal--open {
        overflow-y: hidden;
        max-height: 100vh;
    }
    &.loading-content {
        opacity: 0;
    }
    color: #3a3a3a;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 0;
    width: 100vw;
}

.hidden {
    display: none;
}

.img-responsive {
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 20px;
}

.closed {
    transform: translate(0, -100vh);
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

h1, h2 {
    font-family: 'Titillium Web', sans-serif;
}

h2 {
    color: white;
}

.text-uppercase {
    text-transform: uppercase;
}

button {
    cursor: pointer;
    outline: none;
}

.button-circle {
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 5vh;
    span {
        font-size: 71px;
    }
    
}

@keyframes animateArrowBefore {
    69% {
        opacity: 0;
        margin-left: -20px;
    }
    70% {
        opacity: 0.5;
        margin-left: -20px;
    }
    100% {
        opacity: 0;
        margin-left: 0;
    }
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: $color-lightest-gray;
    border-top: $common-border;
}

.footer-content {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.no-flexbox {
    footer {
        left: 0;
    }
    .footer-content {
        display: block;
        span:last-of-type {
            float: right;
        }
    }
}